{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="page">
    {{!-- <header class="header">
        <button><img src="/svg/arrow-back.svg"></button>
        <button><img src="/img/profile.png"></button>
    </header> --}}
    {{!-- <h1 class="title">{{title}}</h1> --}}
    {{!-- <ul class="post">
        <li class="post__item">
            <div class="post__header">
                <div class="post__category">
                    <span class="button button--atention">Важливо</span>
                    <span class="button button--new">Нова</span>
                </div>
                <span class="post__date">date</span>
            </div>
            <p class="post__info">text</p>
        </li>
    </ul> --}}
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}