@use '../../style' as s;

.post {
	display: flex;
	flex-direction: column;
	gap: s.space(3);
	
	&__item {
		display: flex;
		flex-direction: column;
		gap: s.space(2);
		padding: s.space(3);
		background-color: #F7F7F7;
		border: 1px solid #F7F7F7;
		border-radius: 10px;

		&:hover {
			background-color: #fff;
			border: 1px solid #E6E6E6;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__category {
		display: flex;
		gap: s.space(2);
	}

	&__date {
		color: #888888;
	}

	&__info {
		color: #363636;
		font-weight: 500;
		line-height: 150%;
	}
}