@use '../../style' as s;

.post {
	display: flex;
	flex-direction: column;
	gap: s.space(3);
	
	&__item {
		display: flex;
		flex-direction: column;
		gap: s.space(2);
		padding: s.space(3);
		background-color: #F7F7F7;
		border: 1px solid #F7F7F7;
		border-radius: 10px;

		&:hover {
			background-color: #fff;
			border: 1px solid #E6E6E6;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__category {
		display: flex;
		gap: s.space(2);
	}

	&__date {
		color: #888888;
	}

	&__info {
		color: #363636;
		font-weight: 500;
		line-height: 150%;
	}
}

.button {
	display: flex;
	padding: s.space(2) s.space(3);
	justify-content: center;
	align-items: center;
	border-radius: 24px;

	&--atention {
		background: #F7E9E1;
		color: #F46F17;
	}

	&--new {
		background: #F6E8EF;
		color: #EF5DA8;
	}
}