@use './var' as var;
@use './space' as sp;

.page {
	max-width: 345px;
	width: 100%;
	color: var.color('nero');
	padding: sp.space(10) sp.space(4);
	background-color: #fff;

	display: flex;
	flex-direction: column;
	gap: sp.space(5);

	.header {
		display: flex;
		justify-content: space-between;
	}

	.title {
		font-size: 24px;
		color: var.color('nero');
		font-weight: 700;
	}
} 
