@use './var' as var;
@use './space' as sp;

.page {
	max-width: 345px;
	width: 100%;
	color: var.color('nero');
	padding: sp.space(10) sp.space(4);
	background-color: #fff;

	display: flex;
	flex-direction: column;
	gap: sp.space(5);

	.header {
		display: flex;
		justify-content: space-between;
	}

	.title {
		font-size: 24px;
		color: var.color('nero');
		font-weight: 700;
	}
} 

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: sp.space(2) sp.space(3);
	border-radius: 24px;

	&--post {
		border-radius: 10px;
		padding: sp.space(4);
		color: #fff;
		background: #F46F17;
	}

	&--atention {
		background: #F7E9E1;
		color: #F46F17;
	}

	&--new {
		background: #F6E8EF;
		color: #EF5DA8;
	}
}