$colorMap: (
	light: #ddd,
	border: #ced4da,
	dark: #212121,
	nero: #121212,
	background: #424242,
	gray: #BDBDBD,
	main: rgb(48, 89, 255)
);

@function color ($key) {
	@return map-get($colorMap, $key);
}